@font-face {
  font-family: "PT Sans";
  src:
       url(../fonts/PTSans.woff2) format("woff2"),
       url(../fonts/PTSans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src:
       url(../fonts/PTSans-Bold.woff2) format("woff2"),
       url(../fonts/PTSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
/*Variables*/
:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-grey: #333333;
  --basic-brown: #766357;

  --light-grey: #EEEEEE;
  --platina-grey: #F2F2F2;
  --slider-grey : #ABABAB;
  --rich-grey: #6A6A6A;
  --pale-grey: #CACACA;
  --dull-grey:#666666;
  --decor-grey: #A9A9A9;

  --grey-hover: #EBEBEB;
  --grey-focus: #E5E5E5;

  --blue-hover: #669EC0;
  --blue-active: #5496BD;

  --brown-hover: #604E43;
  --brown-active: #503E33;

  --silver-grey: #BDBBBC;
}
.page {
  height: 100%;
}
.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "PT Sans", Arial, sans-serif;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
}
.main-header {
  margin: 0;
}
.main-navigation {
  display: grid;

}
.logo {
  justify-self: center;
  z-index: 1;
}

.site-navigation {
  list-style: none;
  display: grid;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.site-navigation a {
  text-decoration: none;
  color: var(--basic-black);
  line-height: 26px;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}
.site-navigation a:focus {
  opacity: 30%;
}
.site-navigation a:active {
  color: var(--basic-brown);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;

}
.welcome h1 {
  visibility: hidden;
}
.welcome {
  height: 509px;
  background: var(--basic-blue) url(../img/background-index.jpg) no-repeat center;
}
.welcome-to-sedona {
  margin-top: 76px;
  margin-bottom: 76px;
  margin-left: 372px;
  justify-self: center;

}

.features {
  min-width: 1200px;

}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.features h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.features p {
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-grey);
}

.features-color-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.features-color {
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.features-color-text h3 {
  font-size: 21px;

}
.features-color-text span {
  font-size: 14px;
  font-weight: 400;
}
.features-color-text p {
  font-size: 14px;
  color: var(--basic-white);
  font-weight: 400;
}


.mini-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}


.features-detail-item h4 {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}
.features-detail-item p {
  font-size: 14px;
  font-weight: 400;
}
.line-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}
.line-features span {
  text-align: center;
  font-weight: 400;
  color: var(--basic-grey);
}

.line-features-item {
  background-color: var(--light-grey);
}
.line-features-item p {
  text-align: center;
  margin: 0 77px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.line-features-item h3 {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}
.line-features-item span {
  text-align: center;
}
.interest h2 {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.form {
  text-align: center;
}
.appointment-info {
  line-height: 24px;
  font-weight: 400;
  text-align: center;

}
.find {
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  margin-left: 356px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.find:hover {
  color: var(--basic-white);
  background-color: var(--brown-hover);
}

.find:active {
  color: var(--basic-white);
  background-color: var(--brown-active);
}

.appointment-item {
  line-height: 26px;
}
.search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  text-transform: uppercase;

}

.search:hover {
  color: var(--basic-white);
  background-color: var(--blue-hover);
}
.search:active {
  color: var(--basic-white);
  background-color: var(--blue-active);
}
.main-footer {
  min-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 0;
}
.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  justify-self: center;
}
.footer-contacts a{
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color:inherit;
  text-decoration: none;
}
.contacts-phone {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.footer-social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 0;
  grid-column-gap: 6px;
  list-style: none;
  text-align: center;
}
/*social batton*/

.social-button{
color: inherit;
}
.footer-social a:hover {
  color: var(--basic-white);
  background-color: var(--blue-hover);
}
.social-social a:active {
  color: var(--basic-white);
  background-color: var(--blue-active);
}

.footer-copyright {
  text-align: right;
  justify-self: center;
}
a.active {
  color: var(--basic-brown);
}

.page-catalog {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "PT Sans", Arial, sans-serif;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
  height: 100%;
}

.catalog-container {
  display: grid;
  grid-template-rows: 217px 1fr;
  align-content: start;

}

/*filters*/

.filters {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.filters h2 {
  visibility: hidden;
}

.filter {
  color: var(--basic-white);
  background: var(--basic-blue) url(../img/background-catalog.jpg) no-repeat center;
  width: 1200px;
  height: 217px;
  margin: 0;
  padding: 0;
}

.filter-option,
.filter-checkbox {
  color: var(--basic-white);
  list-style: none;
  font-size: 14px;
  font-weight: 400;
}
.infrastructure,
.kind {
  font-size: 16px;
  line-height: 21px;
}
.cost {
  font-size: 16px;
  line-height: 21px;
}

.price {
  font-size: 14px;

}

.show {
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: inherit;
  text-align: center;
}

/*results*/
.content {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.content h2 {
  font-size: 21px;
  line-height: 26px;
}
.content p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}


.sorting-nav,
.switch-nav,
.home-list {
  list-style: none;
}

.sorting-nav a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  opacity: 30%;
  border-bottom: 1px dashed #81B3D2;
}

.sorting-nav a:hover {
  color: var(--basic-blue);
}

.sorting-nav a:active {
  color: var(--basic-black);
}

.sorting-nav-current {
  color: var(--basic-blue);
  border-bottom: none;
}

.home-item a {
  text-decoration: none;
}

.home-item h3 {
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-black);
}

.home-item h3:hover {
  color: var(--basic-blue);
}

.home-item h3:active {
  color: var(--basic-black);
  opacity: 30%;
}

.home-item-var span {
  color: var(--basic-grey);
  font-weight: 400;
}
.detailed {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.detailed:hover {
  background-color: var(--blue-hover);
}
.detailed:active {
  background-color: var(--blue-active);
}
.reservation {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.reservation:hover {
  color: var(--basic-white);
  background-color: var(--brown-hover);
}
.reservation:active {
  color: var(--basic-white);
  background-color: var(--brown-active);
}

.raiting-star {
  font-weight: 400;
  color: var(--dull-grey);
  background-color: var(--platina-grey);
}
